//colors
$text-c-light: #fff;
$text-c-dark: #000;
$text-c-grey: #CBC9C9;
$text-c-a: #db8b88;
$text-c-pink: #AE18E2;
$text-c-red: #F50E0E;

$bg-c-light-yellow:#F8B653;
$bg-c-dark-yellow: #E1B067;
$bg-c-dark: #000000;
$bg-c-pink: #AE18E2;
$bg-c-none: transparent;
$bg-item-grey: #F8F8F8;
$bg-item-price-grey: #DEDDDC;
$bg-register-pink:#FFFCFC;
$bg-gender: #D9D9D9;

$bg-footer-light-grey: #F8F8F8;
$bg-footer-dark-grey: #DEDDDC;

$border-c-pink: #AE18E2;




$fw-light: 300;
$fw-semi-bold: 400;
$fw-bold: 600;

//INDEX HTML//

//header
$fs-header: 16px;
$fs-header-big: 25px;
//nav
$fs-nav: 20px;
//carousel

$fs-carousel-h1: 40px;
$fs-carousel-p: 20px;

//product

$fs-product-h1: 40px;
$fs-product-h3: 24px;
$fs-product-p: 20px;
$fs-price: 24px;

//footer

$fs-footer-h4: 16px;
$fs-footer-li: 13px;
$fs-footer-p: 13px;
$fs-footer-a: 13px;

// REGISTER HTML//

//register form

$fs-register-h1: 40px;
$fs-register-input: 30px;
$fs-register-button: 30px;